.top_bar{
	background-color: #613cdaf5;
	padding: 5px 0;
}

.social_icon{
	margin-right: 5px;
	color: #FFFFFF;
	font-size: 17px;
}

.contact_info{
	color: #FFFFFF;
	font-size: 16px;
}

.my_menu{
	margin-top: 25px;
}

.my_menu .navbar-default{
	background-color: transparent;
	border: none;
}
.my_menu .navbar-nav .active a, .my_menu .navbar-nav .active a:hover{
	background-color: #fed136;
	color: #FFFFFF !important;
}

.my_menu .navbar-nav li a:hover{
	background-color:  #fed136;
}

@media(max-width: 1200px){
	.my_menu .pull-right{float: none !important;}
}

.content_image{
	margin-top: 40px;
}
.our-course{
	background: radial-gradient(circle, #02AFE6, #0544A1);
}

.our-course h1{
	color: #FFFFFF;
}
.top-margin{
	margin-top: 40px;
}

@media(max-width: 780px){
	.our-course [class*="col-"]{
		margin-bottom: 30px;
	}
}

.bottom-margin{
	margin-bottom: 20px;
}

@media(max-width: 780px){
	.our-course .top-margin{margin-top: unset !important};
}

.footer{
	background-color: #613cdaf5;
	padding: 20px 0;
}

.footer p, h3, a{
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 5px;
}
.footer ul{
	margin: 0;
	padding: 0;
}

@media(max-width: 767px){
	.top_bar .row{text-align: center !important;
	}
	.top_bar .text-right{
		text-align: unset !important;
	}
}

@media(max-width: 768px){
	.my_menu{margin-top:-50px !important;}
}

.footer_streatch{
	padding-top: 10px;
	padding-bottom:10px;
	background-color:#1b293a;
	color: #FFFFFF !important;
}
.your-para {
      color:#003366;
    font-size: 0.9em;
    margin: 0 0 5px 0;
    font-weight: 600;
    text-transform: uppercase;
	padding: 5px 0;
}
.send input[type="submit"] {
    background: #fed136;
    outline: none;
    font-size: 1em;
    margin: 16px 0px;
    border: none;
    padding: 0.6em 2em;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    -webkit-appearance: none;
}
.send input[type="submit"]:hover {
  background:#003366;
}
.typo{
    padding-bottom: .5em;
    font-size: 2em;
    color:#003366!important;
	}
	.table_style{
	margin-top:20px;
}
.thead-dark{
	background-color:#F24C19;
	color:#FFFFFF;
}
/*--about--*/
.about {
    padding: 5em 0;
    background-color: #f4f4f4;
}
h3.tittle, h2.second-head {
		font-size: 2.4em;
	}
	.about-top {
    margin-top: 3em;
}
.text-allign-center{
	    text-align: center;
}
.contact-text{
	color: #F24C19 !important;
}

.navbar-collapse ul li{
	font-weight: bold;
}
.mar-b-4-per{
	margin-bottom:1%;
}

.panel-default .panel-heading{
	background-color:#49adda !important;
	color: #FFFFFF !important;
}

	
.panel-title a{
	text-decoration: none;
	font-weight: bold;
}
	